= render '_shared/paginator'
%table{:class=>"table table-sm table-striped table-bordered sortable-table"}
  %caption
    Search Results
  %thead
    %tr
      %th Type
      %th= t('attributes.name')
      %th= t('attributes.short_name')
      %th= t("activerecord.models.country.one")
      %th.actions.no-sort &nbsp;
  %tbody
    -@search_result.each do |sr|
      %tr
        %td= sr.class.name
        %td= link_to sr.name,sr unless sr.name.blank?
        %td
          = sr.short_name unless sr.short_name.blank?
        %td
          = sr.country.name unless sr.country.blank?
        = render '_shared/record_action_buttons_table', model_instance: sr
= render '_shared/paginator'