= render '_shared/record_new_button', model_sym: :batch
= render '_shared/paginator'
%table{:class=>"table table-sm table-striped table-bordered sortable-table"}
  %caption
    Batches
    = render '_shared/download_machine_readable_data_buttons', formats: [:json,:csv]
  %thead
    %tr
      %th Filename
      %th User
      %th Responsible Organisation
      %th Locking?
      %th Notes
      %th.actions.no-sort &nbsp;

  %tbody
    - @batches.each do |batch|
      %tr
        %td
          - if batch.filename.present?
            = link_to batch.filename, batch
          - else
            = link_to "file not yet generated", batch
        %td= batch.user.name
        %td= batch.rp.display_name
        %td= batch.locking
        %td= batch.notes
        = render '_shared/record_action_buttons_table', model_instance: batch

= render '_shared/paginator'